html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 16px;
}

header{
    background-color: #5baef6;
    color: white;
    text-align: center;
    padding: 5px;
}

header h1 {
    margin: 10px 0;
}