form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: fit-content;
    border: 2px solid #068484;
    border-radius: 10px;
    margin-top: 20px;
}

main{
    display: flex;
    justify-content: center;
}